.App {
  text-align: center;
}

/*//////// Home View ////////*/
/*/ ////////////////////// /*/

.home-view {
  /* background: url(https://media.istockphoto.com/photos/cheese-plate-picture-id491618240?k=6&m=491618240&s=612x612&w=0&h=SU6V7joBqhoZH-heoHEhRbRj54mUHgtAp0dS3cyIVXU=); */
  /* background: url(); */
  background: url(https://media.istockphoto.com/photos/assorted-cheeses-fruits-nuts-platter-picture-id1052365970?k=6&m=1052365970&s=612x612&w=0&h=CPDnwjD2DMNQa7eSmEdRgL8omJSnQ_QKQv0AJ4_1Q_I=);

  background-size: cover;
  color: white;
  height: 100vh;
}

/*//////// CheeseInfo View ////////*/
/*/ //////////////////////////// /*/

.cheese-info {
  background: url(https://media.istockphoto.com/photos/assorted-cheeses-fruits-nuts-platter-picture-id1052365970?k=6&m=1052365970&s=612x612&w=0&h=CPDnwjD2DMNQa7eSmEdRgL8omJSnQ_QKQv0AJ4_1Q_I=);
  background-size: cover;
  height: 100vh;
}

.info-container {
  background-color: rgb(202, 149, 149);
  width: 24%;
}

.app-info-container {
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  background-color: rgb(116, 101, 83);
}

.inner-info-container {
  background-color: rgb(131, 221, 221);
  width: 80%;
}

/*//////// User Opinion View////////*/
/*/ ///////////////////////////// /*/

/*//////// Navbar ////////*/
/*/ /////////////////// /*/

/* .navbar {
  background-color: azure;
} */
.ul-links {
  display: inline;
  text-decoration: none;
}

.li-links {
  text-decoration: none;
}
